@font-face {
    font-family: "pencil";
    src:url("../images/kg-blank-space.ketch.ttf") format("truetype");
}
   @font-face {
    font-family: "solidpencil";
    src:url("../images/kg-blank-space.olid.ttf") format("truetype");
}
body {
    background: url("../images/question-marks-background-yioeG4XpTresized.jpg");
    background-size: 70px;
    width: 100%;
    position: fixed;
    
}

.container {
    display: block;
}

.firstTitle { 
    font-family: "pencil";
    font-stretch: expanded;
    font-size: 70px;
    padding: 30px;
    margin-top: 25px;
    text-align: center;
    background-color: lightgrey;
    margin-left: 175px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.secondTitle { 
    font-family: "pencil";
    font-size: 36px;
    padding-bottom: 30px;
    text-align: center;
    background-color: lightgrey;
    margin-left: 175px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.thirdTitle {
    font-family: "solidpencil";
    font-size: 24px;
    padding: 30px;
    text-align: center;
    background-color:lightgrey;
    margin-left: 350px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
}
.gameDescrip {
    font-family: "solidpencil";
    font-size: 18px;
    padding: 30px;
    padding-top: 10px;
    text-align: center;
    background-color:lightgrey;
    margin-left: 350px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}


/* .img-initial {
    background: url("../images/piqxpr7i9enhanced.jpg") no-repeat center top;
    background-size: 150px;
    height: 200px;
} */

.start-btn {
    width: 200px;
    color:white;
    background: darkgrey;
    font-size: 24px;
    font-family: "pencil";
    text-align: center;
    margin-top: 40px;
    margin-left: 450px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;

    
}